@charset 'utf-8';
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap);

/*reset*/
*{margin:0;padding:0}
body,html {font-family:'Noto Sans KR',sans-serif;font-size:62.5%;}
img,fieldset,iframe{border:0}
table {border-collapse: collapse;border-spacing: 0;}
input,select,button{vertical-align: middle;outline:none}
label,button{cursor: pointer;}
a{color:#222;text-decoration: none;}
li{list-style: none;}
i, em, address{font-style:normal}

/*HIDDEN*/
.blind {display:block;top:-9999rem;position: absolute;}

/*skipNav*/
#skipNav a{
    text-align:center;
    display:block;width:15rem;height:3rem;
    line-height:3rem;background-color: #333;color:#fff;
    position: absolute;left:0;top:-20rem;}

#skipNav a:focus,
#skipNav a:hover,
#skipNav a:active {top:0}

/*clearfix*/
.clearfix::before, .clearfix::after {
    clear:both;display:block;content:''
}
